--- 
# Only the main Sass file needs front matter (the dashes are enough) 
--- 

// https://mmistakes.github.io/minimal-mistakes/docs/stylesheets/#customizing
// $sans-serif: 'Noto Sans KR';
$sans-serif: 'Nanum Gothic';
$monospace: 'Ubuntu Mono';
$type-size-4-5: 1.12em !default; // Ubuntu Mono is a bit small

@charset "utf-8";
@import "minimal-mistakes/skins/dark"; // skin
@import "minimal-mistakes";


// @font-face {
//   font-family: "Gidole-Regular";
//     src: url( '../_assets/fonts/Gidole-Regular.ttf') format( 'truetype');
// }

// @import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR|Ubuntu+Mono);

//@import url(https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap&subset=korean); 
//@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap);
@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(https://fonts.googleapis.com/css2?family=Righteous&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bungee&display=swap);

//
@import url(https://fonts.googleapis.com/css2?family=Jua&family=Song+Myung&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Single+Day&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap);


// $sans-serif: 'Noto Serif KR', serif;

@font-face {
  font-family: 'SDSamliphopangche_Outline';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face{ 
  font-family:'IropkeBatangM'; 
  src:local('assets/fonts/IropkeBatangM.eot'); 
  src:local('assets/fonts/IropkeBatangM.woff') format('woff'); 
  font-weight: normal;
  font-style: normal;
}


// font-family: 'Jua', sans-serif;
// font-family: 'Song Myung', serif;


//https://github.com/mmistakes/minimal-mistakes/issues/1219
html {
  font-size: 14px; // change to whatever
  
  @include breakpoint($medium) {
    font-size: 14px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 16px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 18px; // change to whatever
  }
}

.highlight {
  font-family: $monospace;
  font-size: $type-size-4-5;
}

.language-plaintext {
  font-family: $monospace;
  // color: mix(#FFBF00,$primary-color, 40%);
  color: #FFBF00; //한줄 코드 text색
  //color: #ff0000; //한줄 코드 text색

  font-size: $type-size-5;
  background: #4D5357;  //한줄 코드 background색
}

// background: #4D5357;
